# Genie-TTS

# 通用
onnx
onnxruntime==1.22.1
tokenizers
numpy
soundfile
sounddevice
soxr
pyyaml
pydantic
huggingface_hub[hf_xet]
fastapi
uvicorn[standard]

# 日文 G2P
pyopenjtalk-plus

# 英文 G2P
nltk

# 中文 G2P
pypinyin
g2pM
jieba

# 韩语 G2P
# 说明：以下依赖在 Windows 上通常需要安装 VS Build Tools 才能编译；
# 如需韩语支持请自行取消注释并准备好编译环境。
# jamo
# ko_pron
# g2pk2
# eunjeon
